{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}
    <div class="home-page">
        <div class="row mb-3 head-text-row">
            <h1 class="home-header-text">HI, I'M <i class="name">CHELSIE</i>.</h1>
            <h4>I'm a data scientist who loves biology and exploring new tools and techniques for analyzing data.</h4>
        </div>
        {% for block in page.content %}
        {% include_block block %}
        {% endfor %}
    </div>
{% endblock content %}
