{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

<div class="row home-header mx-auto gy-2 row-cols-lg-3 row-cols-md-3 row-cols-sm-3 row-cols-xs-1 row-cols-1">
    <div class="col gx-4">
        <div class="trait-card position-relative" style="background-color: {{ value.left_card_color }};">
            {% image value.left_card_image scale-100 as img %} 
            <span>
                <img src="{{ img.url }}">
            </span>
            <span class="text-top-right">
                <h3>{{ value.left_card_text }}</h3>
            </span>

        </div>
    </div>
    <div class="col gx-4">
        <div class="trait-card position-relative" style="background-color: {{ value.center_card_color }};">
            {% image value.center_card_image scale-100 as img %}
            <div class="inline-mobile">
                <img src="{{ img.url }}">
            </div>
            <div class="text-top-middle">
                <h3>{{ value.center_card_text }}</h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="trait-card color-tan position-relative" style="background-color: {{ value.right_card_color }}">
            {% image value.right_card_image scale-100 as img %} 
            <span>
                <img src="{{ img.url }}">
            </span>
            <span class="text-top-left">
                <h3>{{ value.right_card_text }}</h3>
            </span>
        </div>
    </div>
</div>