{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="container">
    <!-- <div class="intro text-center">
        <h1>{{ page.heading }}</h1>
        <p>{{ page.intro }}</p>
    </div> -->
    <hr>
    {% for article in articles %}
        <div class="row g-0 position-relative">
            <div class="col-md-5 mb-md-0 p-md-3">
                {% image article.article_image original class="w-100 h-auto" %}
            </div>
            <div class="col-md-7 p-4">
                <h3 class="mt-0">{{ article.article_title }}</h3>
                <p>{{ article.article_summary }}</p>
                <a href="{{ article.get_url }}">READ MORE</a>
            </div>
        </div>
        <hr>
    {% endfor %}
    {% if articles.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if articles.has_previous %}
            <li class="page-item">
                <a class="page-link blog-page-link" href="?page={{ articles.previous_page_number }}">
                    <i class="bi bi-chevron-left"></i>
                </a>
            </li>
            {% endif %}
            {% for page_num in articles.paginator.page_range %}
            <li class="page-item {% if page_num == articles.number %} active{% endif %}">
                <a class="page-link blog-page-link rounded-circle" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% endfor %}
            {% if articles.has_next %}
            <li class="page-item">
                <a class="page-link blog-page-link" href="?page={{ articles.next_page_number }}">
                    <i class="bi bi-chevron-right"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    </div>

{% endblock content %}