{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock extra_css %}

{% block content %}
    <article>
        <h1 class="text-center">{{ page.article_title }}</h1>
        <i class="text-center">{{ page.latest_revision_created_at }}</i>
        {% for block in page.article_text %}
            {% if block.block_type == 'image_left' %}
                <div class="row">
                    <div class="col">
                        {% image block.value.image_left width-400 %}
                    </div>
                    <div class="col">
                        {{ block.value.text_right|richtext }}
                    </div>
                </div>
            {% elif block.block_type == 'image_right' %}
                <div class="row">
                    <div class="col">
                        {{ block.value.text_left|richtext }}
                    </div>
                    <div class="col">
                        {% image block.value.image_right width-400 %}
                    </div>
                </div>
            {% else %}
                {% include_block block %}
            {% endif %}
        {% endfor %}
        <hr width="90%" class="mx-auto my-3">
        <div class="row mb-2">
            <div class="col">
                {% if previous_article %}
                <a class="row blog-nav" href="{{ previous_article.get_url }}">
                    <div class="col col-2">
                        <i class="bi bi-chevron-left blog-nav-icon"></i>
                    </div>
                    <div class="col col-10 blog-nav-text">
                        {{ previous_article }}
                    </div>
                </a>
                {% endif %}
            </div>
            <div class="col"></div>
            <div class="col text-end">
                {% if next_article %}
                <a class="row blog-nav" href="{{ next_article.get_url }}">
                    <div class="col col-10 blog-nav-text">
                        {{ next_article }}
                    </div>
                    <div class="col col-2">
                        <i class="bi bi-chevron-right blog-nav-icon"></i>
                    </div>
                </a>
                {% endif %}
            </div>
        </div>
    </article>
{% endblock content %}
