.intro {
    height: 500px;
    align-content: center;
    float: left;
}

.home-page {
    margin-right: auto;
    margin-left: auto;
    width: 85%;
}

.round-image {
    border-radius: 25px;
}

.color-orange {
    background-color: #ac5625;
}

.name {
    color: #b48351;
    font-weight: 600;
    font-style:normal;
    /* font-family: 'Cinzel' */
}

.home-header-text {
    font-size: 4em;
    font-weight: 500;
    font-family: 'Montserrat' sans-serif;
}

.head-text-row {
    width: 100%;
    margin: auto;
    text-align:center;
}

.head-text-row h4 {
    font-weight: 200;
}

.color-gray {
    background-color: #666666;
}

.color-tan {
    background-color: #b5aba6;
}

.home-header {
    width: 100%;
    min-height: 450px;
}

.trait-card {
    aspect-ratio: 21 / 20;
    align-content: end;
    position: relative;
    font-family: "Quicksand", sans-serif;
    text-align: center;
}

.trait-card h3{
    font-size: 2.3vw;
    font-weight: 200;
}

.trait-card img {
    width: 100%;
    object-fit: contain;
}

.content {
    width: 100% !important;
}

.text-top-right {
    right: 0;
    top: 0;
    position: absolute;
    margin: 2.5vw;
    width: 50% !important;
}

.text-top-middle {
    top: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 2.5vw;
    padding: 1.5rem;
}

.text-top-left {
    left: 0;
    top: 0;
    position: absolute;
    margin: 3vw 1.2vw;
    width: 50% !important;
}

@media (max-width: 992px) {
    .home-page {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .home-header {
        width: 100%;
        height: auto;
        min-height: 100px;
    }

    .trait-card {
        width: 100%;
        height: 100px;
        position: absolute;
        text-align: left;
    }

    .trait-card img {
        width: auto;
        height: 100%;
    }

    .text-top-right {
        right: auto;
        top: auto;
        position: absolute;
        display: inline-block;
        vertical-align: middle;
        margin: auto !important;
        text-align: left;
        padding-left: 1rem;
        width: 100% !important;
    }

    .text-top-middle {
        right: auto;
        top: auto;
        position: absolute;
        display: inline-block;
        vertical-align: middle;
        margin: auto !important;
        text-align: left;
        padding: unset;
    }

    .text-top-left {
        left: auto;
        top: auto;
        position: absolute;
        display: inline-block;
        vertical-align: middle;
        margin: auto !important;
        text-align: left;
        padding-left: 1rem;
        width: 100% !important;

    }

    .text-top-left h3{
        display: inline-block;
    }

    .text-top-right h3 {
        display: inline-block;
    }

    .trait-card h3{
        font-size: 30px;
        font-weight: 200;
        margin-top: 35px;
    }
}